<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{{url_for('static', filename='memory-game.js')}}" defer></script>
    </head>
    <body>
        <div id="cards-wrapper" data-row-number="{{ row_number }}"  data-column-number="{{ column_number }}" ></div>
    </body>
</html>